body {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
img {
  display: block;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}
.header {
}
.header .container {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
}
.logo {
  margin-right: auto;
}
.nav {
  margin-right: 30px;
}
.nav-list {
  display: flex;
  gap: 28px;
}
.nav-link {
  display: block;
  padding: 28px 0;
  font-size: 14px;
}
.nav-link:hover,
.nav-link:focus {
  color: #bbf330;
  text-decoration: underline;
  font-weight: 700;
}
.main-btn {
  border-radius: 30px;
  min-width: 98px;
  height: 32px;
  background-color: #bbf330;
  border: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
}
.main-btn:hover,
.main-btn:focus {
  background-color: #ffe450;
}
.hero-section {
  border-top: 14px;
  padding-bottom: 69px;
}
.container {
}
.hero-container {
  display: flex;
  align-items: center;
}
.wrapper {
  margin-top: 159px;
  max-width: 511px;
  margin-right: 143px;
}
.hero-tittle {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 28px;
}
.hero-text {
  line-height: 1.5;
  margin-bottom: 40px;
}

.hero-img {
  margin-top: 40px;
  border-radius: 100%;
  background-color: #fefefe;
  stroke-width: 26px;
  border: 26px solid #ffe550;
}
.about {
  padding-bottom: 124px;
  padding-left: 16px;
  padding-right: 51px;
  background-color: #ffe550;
}
.img-border {
  margin-top: 167px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: 550px;
  border-radius: 100%;
  border-width: 5px;
  background-color: transparent;
  border: rgba(255, 255, 255, 0.5) solid 5px;
}
.about-image-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 502px;
  height: 502px;
  border-radius: 100%;
  background-color: #fefefe;
  margin: 24px 24px;
}

.about-img {
  position: absolute;
  margin-top: -156px;
}
.shadow {
  width: 189px;
  height: 65.25px;
  left: 163.6px;
  bottom: 72.75px;
  position: absolute;
  border-radius: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(47, 88, 63) 0%,
    rgb(105, 105, 105) 100%
  );
  filter: blur(26px);
}
.about-text-wrap {
  margin-top: 196px;
  width: 573px;
}
.about-container {
  display: flex;
  gap: 90px;
}
.about-tittle {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.about-text {
  line-height: 1.5;
  width: 500px;
  margin-bottom: 40px;
}
.about-list {
  display: flex;
  gap: 67px;
}
.about-item {
  width: 253px;
}
.about-icon {
}
.icon-wrap {
  display: flex;
  border-radius: 100%;
  background-color: #fefefe;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  fill: #7eb101;
  margin-bottom: 8px;
}

.about-sub-tittle {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}
.about-desc {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 32px;
}
.about-btn {
  background-color: #fff;
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 106px;
  height: 40px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
  cursor: pointer;
  align-items: center;
}
.favorites {
  padding-top: 120px;
  padding-bottom: 101px;
  padding-left: 32px;
}
.favorite-container {
  text-align: center;
}
.favorite-tittle {
  font-size: 42px;
  margin-bottom: 20px;
}
.favorite-text {
  font-size: 16px;
  margin-bottom: 40px;
}
.favorite-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.favorite-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc((100% - 64px) / 3);
  border: 16px solid #ffe550;
  border-radius: 197px;

  height: 397px;
}
.favorite-image {
}
.response {
  background: #ffe550;
  padding-top: 140px;
  padding-bottom: 126px;
  padding: 140px 104px 126px 32px;
}
.container {
}
.response-container {
}
.response-tittle {
  font-size: 42px;
  margin-bottom: 20.4px;
}
.response-text {
  margin-bottom: 32.65px;
}
.response-list {
  display: flex;
  gap: 139px;
}
.response-item {
  background-color: #fefefe;
  border: #fefefe 14px solid;
  border-radius: 0 30px 30px 30px;
  width: 501px;
  height: 231.6px;
}
.stars {
  fill: #ffe550;
  margin-bottom: 28.56px;
}
.response-item-text {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 40.81px;
}
.response-image {
  margin-right: 16px;
  border: #ffe550 2px solid;
  border-radius: 100%;
}
.response-item-tittle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 2px;
}
.response-second-text {
  font-size: 14px;
  line-height: 1.5;
}
.responser-wrapper {
  display: flex;
}
.responser-name {
  padding-right: 16px;
  border-right: 1px solid #7eb101;
}

.subscribe {
  padding: 176px 12px 201px 18px;
}
.container {
}
.subscribe-container {
  display: flex;
  align-items: center;
}
.subscribe-tittle {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}
.subscribe-text {
  line-height: 1.5;
  margin-bottom: 24px;
  width: 532px;
}
.subscribe-form {
}
.subscribe-input {
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  padding: 12px 57px 12px 11px;
  width: 395px;
  height: 42px;
  margin-right: 32px;
  font-size: 12px;
  color: #505050;
}
.subscribe-btn {
  border-radius: 30px;
  padding: 11px 22px;
  min-width: 103px;
  height: 42px;
  background-color: #bbf330;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: #2c2c2c;
}
.subscribe-image {
}
.subscribe-form-wrapper {
}

.footer {
  padding: 100px 16px 0 16px;
}
.footer-container {
  display: flex;
}
.footer-nav-wrapper {
  display: flex;
}
.footer-logo {
  margin-left: 5px;
  margin-right: 143px;
}
.nav {
}
.footer-nav {
}
.footer-menu-list {
}
.footer-menu-item {
}
.footer-subscribe-text {
}
.footer-form {
}
.footer-input {
}
.footer-btn {
}
.privacy-text {
}
